.home {
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
}

.wrapper {
  margin: auto;
  width: 80%;
}

.header {
  display: flex;
  justify-content: space-between;
}

.logo,
.menu {
  display: inline-block;
  padding: 40px 0 40px 0;
}

.logo {
  width: 190px;
  height: 35px;
  padding-left: 44px;
  font: bold 24px/31px sp_serif, arial, helvetica, sans-serif;
  position: relative;
}

.logo__circle {
  left: 0;
  top: 50%;
  width: 28px;
  height: 28px;
  position: absolute;
  transform: translateY(-50%);
  border-radius: 50%;
  opacity: .7;
}

.logo__circle_color_dark-blue {
  background: #0056EC;
}

.logo__circle_color_blue {
  left: 8px;
  top: 56%;
  background: #C8DBFB;
}

.menu {
  display: flex;
  align-items: center;
}

.menu__item {
  padding: 0 13px;
}

.menu__item:last-child {
  padding-right: 0;
}
